model: "yolo11m.pt"     # หรือ "yolo11m.pt"
classes:
  bottle: 39

camera:
  source: 0
  width: 640
  height: 480

geometry:
  focal_length_px: 559
  real_object_width_cm: 6.5
  h_fov_deg: 60

control:
  desired_time_s: 5.0
  stop_distance_cm: 55
  max_vx: 0.6
  wz_gain: 1.0
  yaw_bias_deg: 0.0
  yaw_deadband_deg: 2.0
  yaw_min_wz: 0.12
  yaw_max_wz: 0.8

detector:
  imgsz: 640
  conf: 0.20
  iou: 0.50
  rotate_cd: 4
  enable_lazy_rotate: true

runtime:
  gui: true
  print_cmd: true
  device: "cuda"   # หรือ "cuda:0" / "mps"
